.btn {
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.dash-btn {
	color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.dash-btn:hover {
	background: #f2ffef;
}

.product-btn {
	color: #fff;
    background-color: #14ab07;
    border-color: #0dab00;
}

.product-btn:hover {
	color: #333;
	background: #f2ffef;
	border-color: #ccc;
}

.main {
	width: 100%;
	/*margin: 90px auto;*/

}

.main .login-form {
	margin: 0 auto;
	width: 400px;
	height: 600px;
	background: #ccc;
}

.main .login-form .form-elements {
	padding: 20px 20px;
	text-align: center;
}

.main .login-form .form-elements .form-input {
	margin: 20px 0;
}

.main .dashboard {
	width: 97%;
	background: #eee;
	padding: 1.5%;
	overflow: auto;
}

.main .login-info h2 {
	float: right;
	font-size: 14px;
}

.main .dashboard .dash-options {
	width: 20%;
	padding: 1%;
	float: left;
}

.main .dashboard .dash-options a {
	display: block;
	margin-bottom: 10px;
	width: 60%;
}

.main .dashboard .product-available {
	width: 75%;
	padding: 1%;
	background: #fff;
	float: right;
}

.main .product {
	padding: 20px;
	background: #fff;
    overflow: auto;
}

.main .product-img {
	float: left;
	width: 20%;
}

.main .product-details {
	float: right;
	width: 65%;
}
