table {
	
}
thead {
	
}
tr {
	/*border: 1px solid #aaa;*/
}
th, td {
	padding: 5px 10px;
	text-align: left;
	border: 1px solid #aaa;
}

.form-table {
	width: 100%;
	padding-bottom: 10px;
}

.form-table tr > th, .form-table tr > td {
	border: none;
	padding: 10px 5px;
}

#attendant-input {
	text-align: left;
}

.cart-item {
	padding: 5px 15px;
}

.cart-table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0 10px;
}

.cart-table tr {

}

.cart-table tr > th {
	border: none;
}

.cart-table tr > td {
	border: none;
	padding-top: 10px;
	padding-bottom: 10px;
}

.cart-item-tr {
	background: #eee;
}

.cart-select {
	display: block;
    width: 30%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #eee;
    background-image: none;
    border-color: #eee;
}

.left-align {
	text-align: left;
}

.right-align {
	text-align: right;
}

.btn {
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.login-btn {
	width: 25%;
	color: #fff;
    background-color: #14ab07;
    border-color: #0dab00;
}

.dash-btn {
	color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.dash-btn:hover {
	background: #f2ffef;
}

.product-btn {
	color: #fff;
    background-color: #14ab07;
    border-color: #0dab00;
}

.product-btn:hover {
	color: #333;
	background: #f2ffef;
	border-color: #ccc;
}

.remove-btn {
	color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.remove-btn:hover {
    background-color: #f00;
    color: #fff;
}

.form-text {
	display: block;
    width: 90%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    /*border-radius: 4px;*/
}

.table {
	width: 100%;
	max-width: 100%;
	border: 1px solid #ddd;
	border-collapse: collapse;
}

.table th {
	background: #ddd;
	text-transform: uppercase;
	/*border-right: 1px solid #fff;*/
}

.main {
	width: 100%;
	/*margin: 90px auto;*/
}

.main .login-form {
	margin: 80px auto;
	width: 400px;
	height: 600px;
	background: #e8ece6;
	border: 1px solid #ccc;
}

.main .login-form .form-elements {
	padding: 20px 20px;
	text-align: center;
}

.main .login-form .form-elements h2 {
	text-transform: uppercase;
	color: #383c37;
}

.main .login-form .form-elements .form-input {
	margin: 20px 0;
}

.main .login-footer {
	padding: 240px 10px 10px 10px;
	text-align: right;
}

.main .login-footer p {
	color: #aaa;
}

.main .dashboard {
	width: 97%;
	background: #eee;
	padding: 1.5%;
	overflow: auto;
}

.main .login-info h2 {
	float: right;
	font-size: 14px;
}

.main .dashboard .dash-options {
	width: 20%;
	padding: 1%;
	float: left;
}

.main .dashboard .dash-options a {
	display: block;
	margin-bottom: 10px;
	width: 60%;
}

.main .dashboard .product-available {
	width: 75%;
	padding: 1%;
	background: #fff;
	float: right;
}
.main .dashboard .product-available .form-input {
	margin: 10px 0;
}

.main .dashboard .product-available .form-input label {
	min-width: 50px;
}

.main .product {
	padding: 20px;
	background: #fff;
    overflow: auto;
}

.main .product-img {
	float: left;
	width: 20%;
}

.main .product-details {
	float: right;
	width: 65%;
}
